body.credentials {
}

.credentials-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px;
  font-size: 2em;
}

.credentials-table tr.fade-row {
  opacity: 0;
}

.credentials-table th, .credentials-table td {
  opacity: 1;
  padding: 30px;
  border: 1px solid #ddd;
  text-align: left;
  border-left: none;
  border-right: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.fade-row {
  transition: opacity 200ms ease-in-out;
}

button.reset {
  font-size: 2em;
  margin-top: 1em;
  padding: .25em .75em;
  opacity: 0;
}
